<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__title">
                <h1>
                    Отправить сообщение
                </h1>
            </div>

            <form class="form" action="#">
                <input class="name" type="text" required placeholder="Ваше имя">
                <input class="email" required  type="email" placeholder="Email">
                <textarea class="message" placeholder="Ваше сообщение"></textarea>
                <button class="button--send" type="submit">
                    Отправить
                </button>

<!--                <a class="button--send" href="#">Отправить</a>-->
            </form>
            <div class="footer__info">
                <p class="footer__info--mail">info@groupmnextm.ru</p>
                <p class="footer__info--phone">+7 (495) 641-40-80</p>
                <p class="footer__info--rights">ПРАВОВАЯ ИНФОРМАЦИЯ</p>
            </div>
        </div>
    </div>
</footer>




<!--pattern="\S+@[a-z]+.[a-z]+"-->
