<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="row">
                <a class="logo" href="#">TYNY <span class="year">2019</span></a>
            </div>
            <div class="navigation">
                <nav>
                    <a class="navigation--link" href="#">Конференция</a>
                    <a class="navigation--link" href="#">Программа</a>
                    <a class="navigation--link" href="#">Спикеры</a>
                    <a class="navigation--link" href="#">Фото</a>
                    <a class="navigation--link" href="#">Материалы</a>
                </nav>
            </div>

            <!--            <div class="clear">1</div>-->
            <div class="button">
                <a class="button--registration" href="#">Регистрация</a>
            </div>
            <!--            <div class="clear">2</div>-->
            <div class="icons">
                <a class="icons--link" href="#">
                    <i class="fa fa-solid fa-envelope fa-xl"></i>
                </a>
                <a class="icons--link" href="#">
                    <i class="fa fa-brands fa-facebook-f fa-xl"></i>
                </a>



            </div>

            <div class="nav-toggle">
                <span class="nav-toggle__item"></span>
            </div>


        </div>
        <!--header__inner-->

    </div>
    <!--container-->
</header>
