<section class="speakers">
    <div class="container">
        <div class="speakers__inner">




            <div class="speakers__slider">

                <div class="speakers__title">
                    <h1>Спикеры</h1>
                </div>

                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>

                            <div class="swiper-slide--image">
                                <img class="image1" src="assets/images/sliderImage.png" alt="">
                                <div class="photo">
                                    <div class="photo__name">
                                        Ярон Фаризон
                                    </div>
                                    <div class="photo__profession">
                                        CEO MediaCom
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>



                    <!-- If we need navigation buttons -->
                <div class="swiper-button-prev">
                    <img src="assets/images/arrow2.png" alt="">
                </div>
                <div class="swiper-button-next">
                    <img src="assets/images/arrow2.png" alt="">
                </div>




                </div>



                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
